@page
@model FantasyLCS.WebApp.Pages.HomeModel
@{
    ViewData["Title"] = "Home";
}

<style>
    * {
        box-sizing: border-box;
    }

    .home-container {
        display: flex;
        justify-content: space-between; /* Adjust space between columns */
        padding: 20px;
        align-items: stretch;
    }

    .card, .buttons-container {
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-top: 15px;
        padding: 20px;
    }

    .card {
        flex-basis: 20%; /* Initial size of the card */
        margin-right: 20px; /* Space between the two columns */
    }

    .buttons-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        flex-grow: 1; /* Allow the container to grow */
    }

    .team-logo-container {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin: 10px auto 20px; /* Add bottom margin */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .team-info {
        text-align: left;
    }

    h2 {
        font-size: 24px;
        margin-bottom: 15px;
    }

    p {
        font-size: 18px;
    }

    .buttons-container .btn {
        width: 200px;
    }

    .btn {
        background-color: mediumseagreen;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        margin-top: 15px;
        cursor: pointer;
    }

    .btn:hover {
        background-color: mediumaquamarine;
    }
</style>

<div class="home-container">
    <div class="card user-info">
        @if (Model.UserTeam != null)
        {
            <div class="team-logo-container" style="background-image: url('@Model.UserTeam.LogoUrl');"></div>
            <div class="team-info">
                <p>Team Name: @Model.UserTeam.Name</p>
                <p>Coach: @Model.UserTeam.OwnerName</p>
                <p>Wins: @Model.UserTeam.Wins</p>
                <p>Losses: @Model.UserTeam.Losses</p>
            </div>
        }
        else
        {
            <h2>Create Your Team</h2>
            <p>You don't have a team yet. Click the button below to create your team.</p>
            <a class="btn" asp-page="/CreateTeam">Create Team</a>
        }
    </div>

    <div class="buttons-container">
        <a class="btn" asp-page="/CreateLeague">Create League</a>
        <a class="btn" asp-page="/JoinLeague">Join League</a>
        <a class="btn" asp-page="/LeaveLeague">Leave League</a>
        <!-- Add more buttons as needed -->
    </div>
</div>

<div class="other-info">
    <!-- Other information content goes here -->
    <h2>Other Information</h2>
    <!-- Place your other information content here -->
</div>
