@page
@model FantasyLCS.WebApp.Pages.HomeModel
@{
    ViewData["Title"] = "Home";
}

<style>
    /* General container and layout styles */
    .home-container {
        display: flex;
        justify-content: start;
        padding: 20px;
        gap: 20px;
    }

    .section {
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-top: 15px;
    }

    /* Team info section styles */
    .team-logo-container {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin: 10px auto 20px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .team-info p {
        margin: 0;
        padding: 0;
    }

    .team-info strong {
        display: block;
    }

    .info-value {
        display: block;
    }

    .league-info-section {
        flex-basis: 70%;
    }

    .leaderboard {
        display: flex;
        justify-content: space-between;
        max-width: 600px; /* Set a max-width for the leaderboard */
        margin: auto; /* Center leaderboard */
    }

    .leaderboard-column {
        display: flex;
        flex-direction: column;
        width: calc(50% - 5px); /* Adjust width for two columns, accounting for gap */
    }

    .team-entry, .team-empty {
        background-color: #f8f8f8; /* Light background for team entries */
        border: 1px solid #eee; /* Separator between teams */
        border-radius: 10px; /* Rounded corners */
        padding: 10px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        height: 80px; / Fixed height for all entries
    }

    .team-empty {
        background-color: #cccccc; /* Grey background for empty slots */
        justify-content: center;
    }

    .team-logo-container {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-right: 10px;
        flex-shrink: 0; /* Prevent logo from shrinking */
    }

    .team-details {
        flex-grow: 1;
    }

    .team-details p {
        margin: 2px 0;
        font-size: 14px; /* Adjust size as needed */
    }

    .team-details strong {
        font-weight: 600; /* Stronger font for names */
    }

    /* Typography styles */
    h2, h3 {
        font-size: 18px;
        margin: 10px 0;
    }

    /* Adjust the team-info specific styles to not interfere with the leaderboard */
    .team-info .team-logo-container {
        width: 150px;
        height: 150px;
        margin: 10px auto;
    }

    .buttons-section {
        flex-basis: 10%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .btn {
        background-color: mediumseagreen;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        width: 200px;
        margin-top: 10px;
        cursor: pointer;
    }

    .btn:not(.btn-disabled):hover {
        background-color: mediumaquamarine;
    }

    .btn-disabled {
        background-color: #cccccc;
        color: #666666;
        cursor: default;
    }

    /* Typography styles */
    h2 {
        font-size: 24px;
        margin-bottom: 15px;
    }

    h3 {
        font-size: 36px;
        text-align: center;
    }

    p {
        font-size: 18px;
        text-align: center;
    }
</style>

<div class="validation-summary">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
</div>

<div class="home-container">
    <!-- Team Info Section -->
    <div class="section team-info">
        @if (Model.HomePage.UserTeam != null)
        {
            <div class="team-logo-container" style="background-image: url('@Model.HomePage.UserTeam.LogoUrl');"></div>
            <div class="team-info">
                <p><strong>Team Name:</strong><span class="info-value">@Model.HomePage.UserTeam.Name</span></p>
                <p><strong>Coach:</strong><span class="info-value">@Model.HomePage.UserTeam.OwnerName</span></p>
                <p><strong>Wins:</strong><span class="info-value">@Model.HomePage.UserTeam.Wins</span></p>
                <p><strong>Losses:</strong><span class="info-value">@Model.HomePage.UserTeam.Losses</span></p>
            </div>
        }
        else
        {
            <h2>Create Your Team</h2>
            <p>You don't have a team yet. Click the button below to create your team.</p>
            <a class="btn" asp-page="/CreateTeam">Create Team</a>
        }
    </div>

    <div class="section league-info-section">
        @if (Model.HomePage.UserLeague != null)
        {
            <!-- Leaderboard for Teams -->
            <h3>Leaderboard</h3>
            <div class="leaderboard">
                <div class="leaderboard-column">
                    @for (int i = 0; i < 4; i++)
                    {
                        <div class="@((i < Model.HomePage.LeagueTeams.Count) ? "team-entry" : "team-empty")">
                            @if (i < Model.HomePage.LeagueTeams.Count)
                            {
                                <div class="team-logo-container" style="background-image: url('@Model.HomePage.LeagueTeams[i].LogoUrl');"></div>
                                <div class="team-details">
                                    <p><strong>@Model.HomePage.LeagueTeams[i].Name</strong></p>
                                    <p>Coach: @Model.HomePage.LeagueTeams[i].OwnerName</p>
                                    <p>
                                        Wins: @Model.HomePage.LeagueTeams[i].Wins, Losses: @Model.HomePage.LeagueTeams[i].Losses
                                    </p>
                                </div>
                            }
                            else
                            {
                                <div class="placeholder-content"></div>
                            }
                        </div>
                    }
                </div>
                <div class="leaderboard-column">
                    @for (int i = 4; i < 8; i++)
                    {
                        <div class="@((i < Model.HomePage.LeagueTeams.Count) ? "team-entry" : "team-empty")">
                            @if (i < Model.HomePage.LeagueTeams.Count)
                            {
                                <div class="team-logo-container" style="background-image: url('@Model.HomePage.LeagueTeams[i].LogoUrl');"></div>
                                <div class="team-details">
                                    <p><strong>@Model.HomePage.LeagueTeams[i].Name</strong></p>
                                    <p>Coach: @Model.HomePage.LeagueTeams[i].OwnerName</p>
                                    <p>Wins: @Model.HomePage.LeagueTeams[i].Wins, Losses: @Model.HomePage.LeagueTeams[i].Losses</p>
                                </div>
                            }
                            else
                            {
                                <div class="placeholder-content"></div>
                            }
                        </div>
                    }
                </div>
            </div>

            <h3>League Information</h3>
            <p><strong>League Name:</strong> @Model.HomePage.UserLeague.Name</p>
            <p><strong>Owner:</strong> @Model.HomePage.UserLeague.Owner</p>
            <p><strong>Join Code:</strong> @Model.HomePage.UserLeague.JoinCode</p>

        }
        else
        {
            <p>No league information available.</p>
        }

    </div>

    <!-- Buttons Section -->
    <div class="section buttons-section">
        <a class="btn @(Model.HomePage.UserTeam != null && Model.HomePage.UserLeague != null ? "btn-disabled" : "")" asp-page="/CreateLeague">Create League</a>
        <a class="btn @(Model.HomePage.UserTeam != null && Model.HomePage.UserLeague != null ? "btn-disabled" : "")" asp-page="/JoinLeague">Join League</a>
        <a class="btn @(Model.HomePage.UserLeague == null ? "btn-disabled" : "")" asp-page="/LeaveLeague">Leave League</a>
        <a class="btn @(Model.HomePage.UserLeague != null && Model.HomePage.LeagueTeams.Count == 8 && Model.HomePage.UserLeague.LeagueStatus == LeagueStatus.NotStarted ? "" : "btn-disabled")" asp-page="/Draft">Start Draft</a>
        <!-- Additional buttons can be added here -->
    </div>
</div>

<div class="other-info">
    <!-- Other information content goes here -->
    <h2>Other Information</h2>
    <!-- Place your other information content here -->
</div>
