@page
@model FantasyLCS.WebApp.Pages.MatchesModel
@{
    ViewData["Title"] = "Matches";
}

<script>
    function toggleDropdown(element) {
        // Find the score dropdown within the clicked match section
        const dropdown = element.querySelector('.score-dropdown');
        // Toggle the display property
        dropdown.style.display = dropdown.style.display === 'none' ? 'flex' : 'none';
    }
</script>

<style>
    /* Matches page container and layout styles */
    .matches-container {
        display: flex;
        flex-direction: column; /* Stack match entries vertically */
        padding: 20px;
        gap: 20px;
    }

    .match-section {
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-bottom: 15px;
    }

    .match-entry {
        display: flex;
        justify-content: center; /* Align children to the center */
        align-items: center;
        padding: 10px;
    }

    .match-logo-container {
        flex: 0 0 auto; /* Do not grow or shrink, keep the logos size fixed */
        width: 100px;
        height: 100px;
        background-size: cover;
        background-position: center;
        margin: 10px;
    }

    .match-info {
        order: 2; /* Keep the match-info centered between team names and logos */
        padding: 0 20px; /* Padding on the sides */
        flex: 0 0 auto; /* Do not grow or shrink */
        display: flex;
        flex-direction: column;
        justify-content: center; /* Center content vertically */
        align-items: center; /* Center content horizontally */
    }

    .match-date {
        font-size: 14px;
        margin-bottom: 5px; /* Space between date and score */
    }

    .match-score {
        font-size: 24px;
        font-weight: bold;
        color: #333;
        order: 3;
    }

    .team-logo-left, .team-logo-right {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    /* Style for the week header */
    .week-header {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px; /* Space before the match entries */
    }

    .winner-info {
        font-weight: bold;
        color: green; /* Adjust color as needed */
    }

    .score-dropdown {
        display: none; /* Initially hide the dropdown */
        flex-direction: row; /* Align team scores side by side */
        gap: 10px;
        justify-content: space-between; /* Align team scores on opposite ends */
        padding: 10px;
        background-color: #f1f1f1; /* Light background for the dropdown */
        border-radius: 5px;
        margin-top: 10px; /* Space between match entry and scores */
    }

    .team-scores {
        display: flex;
        flex-direction: column; /* Stack scores vertically */
        width: 50%; /* Half the width for each team */
        padding: 0 10px; /* Padding on the sides */
    }

    .player-score {
        background-color: #ffffff;
        margin: 5px 0; /* Space between player scores */
        padding: 5px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Soft shadow for each score */
        display: flex;
        justify-content: space-between; /* Align the name and score */
        padding: 10px;
    }

    .team-one .player-score {
        flex-direction: row; /* Keep the name on the left and score on the right */
    }

    .team-two .player-score {
        display: flex;
        justify-content: space-between; /* This will ensure the score and name are on opposite ends */
    }

    .team-two .player-score span:first-child {
        margin-right: 10px; /* This will ensure there is space between the score and the name */
    }

    .team-name {
        flex-grow: 1; /* Allows the team names to expand and fill the available space */
        margin: 0 10px; /* Space around the team names */
        white-space: nowrap; /* Keep the text on a single line */
        overflow: hidden; /* Hide overflow */
        text-overflow: ellipsis; /* Add an ellipsis for text that overflows */
    }

    .team-logo-left {
        order: 1; /* Ensure the left logo is the first item */
        margin-right: 10px;
    }

    .team-logo-right {
        order: 5; /* Ensure the right logo is the last item */
        margin-left: 10px;
    }

    .team-name-left {
        font-size: large;
        font-weight: bold;
        text-align: left; /* Right align the left team name */
        order: 2;
        width: 30%;
    }

    .team-name-right {
        font-size: large;
        font-weight: bold;
        text-align: right; /* Left align the right team name */
        order: 4;
        width: 30%;
    }

    /* Typography styles can be adjusted to fit the Matches page context */
    h2, h3 {
        font-size: 20px; /* Adjusted for visual hierarchy */
        margin: 15px 0; /* Space above and below headings */
    }

    p {
        font-size: 16px; /* Adjusted for readability */
    }
</style>

<div class="home-container">
    <section class="league-info-section">
        <h2>@Model.HomePage.UserLeague.Name League Matches</h2>
        <div class="matches-container">
            @foreach (var weekGroupLeagueMatches in Model.MatchesPage.LeagueMatches.GroupBy(m => m.Week).OrderBy(g => g.Key))
            {
                <div class="week-header">@weekGroupLeagueMatches.Key</div>
                @foreach (var leagueMatch in weekGroupLeagueMatches.OrderBy(m => m.MatchDate))
                {
                    Team teamOne = Model.HomePage.LeagueTeams.FirstOrDefault(team => team.ID == leagueMatch.TeamOneID);
                    Team teamTwo = Model.HomePage.LeagueTeams.FirstOrDefault(team => team.ID == leagueMatch.TeamTwoID);

                    <div class="match-section" onclick="toggleDropdown(this)">
                        <div class="match-entry">
                            <div class="match-logo-container team-logo-left" style="background-image: url('@teamOne.LogoUrl');"></div>
                            <div class="team-name team-name-left">@teamOne.Name</div>

                            <div class="match-info">
                                <p class="match-date">@leagueMatch.MatchDate.ToShortDateString()</p>
                                @switch (leagueMatch.Winner)
                                {
                                    case Winner.TeamOne:
                                        <p class="match-score">1 - 0</p>
                                        break;
                                    case Winner.TeamTwo:
                                        <p class="match-score">0 - 1</p>
                                        break;
                                    case Winner.NotPlayed:
                                        <p class="match-score">0 - 0</p>
                                        break;
                                }
                            </div>

                            <div class="team-name team-name-right">@teamTwo.Name</div>
                            <div class="match-logo-container team-logo-right" style="background-image: url('@teamTwo.LogoUrl');"></div>
                        </div>

                        <div class="score-dropdown" style="display: none;" id="scores-@leagueMatch.ID">
                            <!-- Team One Scores -->
                            <div class="team-scores team-one">
                                @foreach (var score in Model.MatchesPage.LeagueMatchPlayerScores.Where(s => s.LeagueMatchID == leagueMatch.ID && teamOne.DraftPlayerIDs.Contains(s.DraftPlayerID)))
                                {
                                    <div class="player-score">
                                        <span>@Model.HomePage.LeagueDraftPlayers.FirstOrDefault(dp => dp.ID == score.DraftPlayerID)?.Name</span>
                                        <span>@score.FinalScore.ToString("0.0")</span>
                                    </div>
                                }
                            </div>

                            <!-- Team Two Scores -->
                            <div class="team-scores team-two">
                                @foreach (var score in Model.MatchesPage.LeagueMatchPlayerScores.Where(s => s.LeagueMatchID == leagueMatch.ID && teamTwo.DraftPlayerIDs.Contains(s.DraftPlayerID)))
                                {
                                    <div class="player-score">
                                        <!-- Score is now placed before the name -->
                                        <span>@score.FinalScore.ToString("0.0")</span>
                                        <span>@Model.HomePage.LeagueDraftPlayers.FirstOrDefault(dp => dp.ID == score.DraftPlayerID)?.Name</span>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </section>
    <!-- Other sections -->
</div>
